extends layout

block content
    h1= title
    form(method='POST' action='/new')
        p= 'Name: '
        input(
            type='text'
            name='name'
            placeholder='Enter name'
        )
        p= 'Message: '
        textarea(
            name='message'
        )
        div
            button(
                type='submit'
            ) Submit